@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';


@theme {
  --color-roed-500: #E61011;
}

@font-face {
  font-family: Instrument;
  src: url(../../public/InstrumentSerif-Regular.woff2);
  --font-script: InstrumentSerif-Regular;

}
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components{

}
@layer utilities{
  
}