---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <article>
    <section class="text-center p-20">
      <h1 class="text-center p-20">About</h1>
      <p>
        Klaras Table is a one-woman Copenhagen based culinary project founded by
        Klara Jespersen. She specializes in the sweet kitchen and is driven by
        hunger for a space where creativity, curiosity and playfulness blooms
        though taste, flavour and texture. Klaras Table started as a hobby
        project in the spring of 2022. (And, not gonna lie — also a bit of a
        sweet tooth for daily dessert.)
      </p>
    </section>
    <section class="text-center">
      <h1 class="text-center">Bilde her</h1>
    </section>
    <section class="text-center p-20">
      <p>
        My love for hosting started as small, intimate dinners for loved ones;
        private kitchen parties with pasta all over the table, coffee sizzling
        from moka pots on the stove and kitchen-counter-conversations continuing
        all night, always ending with the star of the show - dessert.
      </p>
    </section>
    <section class="text-center">
      <h1 class="text-center">illustasjon:P</h1>
    </section>
    <section class="text-center p-20">
      <p>
        Food connects people. Room for dessert means room for a little more
        conversation, a bit more connection, and room for making an evening last
        a bit longer. A sweet chance to linger with people you love.
      </p>
    </section>
    <section class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
      <div>
        <p class="text-center">bilde her</p>
      </div>
      <div>
        <p>bilde her</p>
      </div>
    </section>
    <section class="text-center p-20">
      <p>bilde her</p>
    </section>
    <section class="text-center p-20">
      <p>
        The private dinner parties since evolved to commercial hosting for
        international brands. Klaras Table’s take on hosting, is to bring the
        heart warm, intimate vibe of sitting on the kitchen counter into the
        event scene. This vibe in combination with culinary artistry and
        curating tablescapes sets the room for connection and conversation
        through food. Because conversations in the kitchen are always a tiny bit
        better.
      </p>
    </section>
    <section class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
      <div>
        <p class="text-center">bilde her</p>
      </div>
      <div>
        <p>bilde her</p>
      </div>
    </section>
    <section class="text-center p-20">
      <p>
        The approach? Never stop playing. Events and cake projects are always
        planned in close contact with the client, to meet their visions and
        wants for a project. Through curiosity in terms of visuals, sensory
        inputs and a strong aesthetic drive, Klaras Table creates everything
        from tiny tarts to big wedding cakes, small breakfasts to big fashion
        events. Curating plates, cakes and room for conversation - and I am
        loving each and every project.
      </p>
    </section>
    <section class="text-center p-20">
      <p>With Love, Klara 3</p>
    </section>
    <section class="text-center p-20">
      <p>bilde her</p>
    </section>
  </article>
</MainLayout>
