---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import cherry from "../assets/images/cherry.webp";
import celebrationCake from "../assets/images/celebrationCake.webp";
import walkingCake from "../assets/images/walkingCake.webp";
import outsideCake from "../assets/images/outsideCake.webp";
import ProductCard from "../components/ProductCard.astro";
---

<MainLayout title="Produkt">
  <section class="grid grid-cols-1 md:grid-cols-2 gap-6 m-voress pt-20">
    <!-- Venstre kolonne: Bilder -->
    <div class="w-full">
      <div class="w-full">
        <form class="">
          <div class="space-y-4 m-md">
            <Image src={celebrationCake} alt="mellemkasse" class="m-voress" />
            <Image src={walkingCake} alt="mellemkasse" class="m-voress" />
            <Image src={outsideCake} alt="mellemkasse" class="m-voress" />
          </div>
        </form>
      </div>
    </div>

    <!-- Høyre kolonne: Sticky produktcard-->
    <div class="max-h-fit self-start sticky top-4">
      <div>
        <ProductCard
          title="Celebration Cake"
          price="65 dkk each"
          buttonLabel="Start your order"
          details="Saftig og deilig eplekake bakt med kjærlighet."
          otherInfo="Leveres innen 3 dager. Retur ikke mulig for matvarer."
        />
      </div>
    </div>
  </section>
</MainLayout>
