---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import Cardone from "../components/Cardone.astro";
import Review from "../components/Review.astro";
import Newsletter from "../components/Newsletter.astro";
import { Image } from "astro:assets";
import celebrationCake from "../assets/images/celebrationCake.webp";
import Apollo from "../assets/images/apollo.webp";
import miniCake from "../assets/images/miniCake.webp";
---

<!-- <Newsletter /> -->
<MainLayout title="Home">
  <article>
    <section class="relative h-svh w-full flex items-center justify-center overflow-hidden">
      <video
        autoplay
        loop
        muted
        playsinline
        class="absolute top-0 left-0 w-full h-full object-cover"
      >
        <source src="indexvideo.MP4" type="video/mp4" />
      </video>
    
      <div class="relative z-10">
        <h1 class="!text-beige-100 text-center  whitespace-nowrap">
          Personalised cakes, desserts and events
        </h1>
      </div>
    </section>

    <section id="sektion-1" class="px-4 pt-md">
      <h2 class="text-center">Your local cake dealer</h2>
      <p
        class="text-center max-w-4xl mx-auto pt-sm font-script font-display leading-relaxed sm:leading-loose"
      >
        Klaras Table is a Copenhagen based culinary studio, offering thoughtful
        cakes and sweet treats for events of all kinds. <br />
        From simple morning plates and petit fours, to handmade cakes for weddings
        and larger celebrations, <br />
        everything is thought out with eye for detail and a desire to combine culinary
        artistry and uncompromising taste. <br /><br />
        Klaras Table offer more than just desserts. We cook, cater, and serve as
        part of your event setting the food frame to any <br />
        gathering. The cakes are true centerpieces — and will be the first thing
        your guests will notice upon arrival, and certainly <br />
        something they'll remember when leaving. <br /><br />
        Whether you're planning something small and cozy or a larger gathering, <br
        />
        Klaras Table brings sweetness and artistic touch to the table. <br /><br
        />
        For further information or questions please reach out to
        <a
          href="https://mail.google.com/mail/?view=cm&to=infoklarastable@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          class="underline hover:text-primary-500"
        >
          infoklarastable@gmail.com
        </a>
        <br />
        We'd love to help you <code
          class="text-body-medium font-display text-primary-900;">&lt;3</code
        >
      </p>
    </section>

    <section class="max-w-6xl mx-auto text-center pt-lg">
      <h2 class="text-2xl font-semibold pb-sm">What are you looking for?</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4 px-s">
        <a href="/produkter">
          <Cardone
            title="Celebration Cakes"
            image={celebrationCake.src}
            alt="Celebration Cake"
            class=""
          />
        </a>
        <a href="/produkter">
          <Cardone title="Smaller Cakes" image={miniCake.src} />
        </a>
        <a href="/produkter">
          <Cardone title="Events" image={Apollo.src} />
        </a>
      </div>
      <p>knap her</p>
    </section>

    <!-- sektion 3, trustpilot -->

    <section id="sektion 3">
      <h2 class="text-center pt-lg">Trustpilot</h2>
      <Review />
    </section>

  </article>
</MainLayout>
