---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";

import celebrationCake from "../assets/images/celebrationCake.webp";
import walkingCake from "../assets/images/walkingCake.webp";
import outsideCake from "../assets/images/outsideCake.webp";
import ProductCard from "../components/ProductCard.astro";
import petitepies from "../assets/images/petitepies.webp";
import chokMadeleine from "../assets/images/chokMadeleine.webp";
import powderSugar from "../assets/images/powderSugar.webp";
---

<MainLayout title="Produkt">
  <section class="grid grid-cols-1 md:grid-cols-2 gap-6 m-voress pt-20">
    <!-- Venstre kolonne: Bilder -->
    <div class="w-full">
      <div class="w-full">
        <form class="">
          <div class="space-y-4 m-md">
            <Image src={powderSugar} alt="Madeleine" class="" />
            <Image src={chokMadeleine} alt="Madeleine" class="" />
            <Image src={chokMadeleine} alt="Madeleine" class="" />
          </div>
        </form>
      </div>
    </div>

    <!-- Høyre kolonne: Sticky produktcard-->
    <div class="max-h-fit self-start sticky top-4">
      <div>
        <ProductCard
          title="Madeleines"
          price="45 dkk each"
          buttonLabel="Start your order"
          details="Saftig og deilig eplekake bakt med kjærlighet."
          otherInfo="Leveres innen 3 dager. Retur ikke mulig for matvarer."
        />
      </div>
    </div>
  </section>
</MainLayout>
