---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
---

<MainLayout title="Titel">
  <article>
    <section class="text-center p-20">
      <h1>Set Your table</h1>
      <p>
        Get inspiration to your next event or dinner hosting. Pick and place
        items on the table to set your dream table.
      </p>
    </section>
  </article></MainLayout
>
