---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Linkbutton from "../components/Linkbutton.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Titel">
  <article>
    <h1 class="text-center pt-20">Customise your order</h1>
  </article>

  <article class="flex w-[250px] mx-auto justify-between p-5">
    <p>First step</p>
    <p><span>Second step</span></p>
    <p>Last step</p>
  </article>

  <div class="flex flex-col items-center justify-center">
    <div class="text-center max-w-xl px-4 mb-6">
      <p class="mb-4">
        The second step,<br />
        Please provide us with information about catering and other services as well
        as how much help you want. Style preferences and special requests will be
        addressed in a subsequent discussion. <br /> What additional services are
        you interested in?
      </p>
    </div>

    <div class="max-w-xl mx-auto p-6">
      <div class="space-y-4">
        <label
          class="grid grid-cols-[1fr_auto] gap-x-16 items-center px-4 py-2"
        >
          <p>Delivery in Copenhagen</p>
          <input
            type="checkbox"
            name="delivery"
            class="w-5 h-5 accent-blue-600"
          />
        </label>

        <label
          class="grid grid-cols-[1fr_auto] gap-x-16 items-center px-4 py-2"
        >
          <p>Do you want a cake setup</p>
          <input
            type="checkbox"
            name="cakeSetup"
            class="w-5 h-5 accent-blue-600"
          />
        </label>

        <label
          class="grid grid-cols-[1fr_auto] gap-x-16 items-center px-4 py-2"
        >
          <p>Klara at your event</p>
          <input type="checkbox" name="klara" class="w-5 h-5 accent-blue-600" />
        </label>

        <label
          class="grid grid-cols-[1fr_auto] gap-x-16 items-center px-4 py-2"
        >
          <p>Rental of silver trays, stands</p>
          <input
            type="checkbox"
            name="rental"
            class="w-5 h-5 accent-blue-600"
          />
        </label>

        <label
          class="grid grid-cols-[1fr_auto] gap-x-16 items-center px-4 py-2"
        >
          <p>Artistic tablescaping & curation</p>
          <input
            type="checkbox"
            name="tablescaping"
            class="w-5 h-5 accent-blue-600"
          />
        </label>
      </div>
    </div>

    <!-- knapperne -->
    <div class="py-sm">
      <Linkbutton href="/steptwo" label="Back" variant="secondary" />
      <Linkbutton href="/stepthree" label="Next" variant="secondary" />
    </div>
  </div>
</MainLayout>
