---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Linkbutton from "../components/Linkbutton.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Step Three">
  <article>
    <h1 class="text-center pt-20">Customise your order</h1>
  </article>

  <article class="flex w-[250px] mx-auto justify-between p-5">
    <p>First step</p>
    <p>Second step</p>
    <p><span>Last step</span></p>
  </article>

  <div class="flex flex-col items-center justify-center">
    <div class="text-center max-w-xl px-4 mb-6">
      <p class="mb-4">
        Last step,<br />
        Please provide us with a small description about your thoughts about your
        order. <br />We will get beck yo you by email within 1-3 business days.
      </p>
    </div>

    <div class="max-w-2xl mx-auto p-6">
      <label
        for="comment"
        class="block w-full text-center mb-2 text-base font-medium"
      >
        Write a comment
      </label>
      <textarea
        id="comment"
        name="comment"
        rows="8"
        placeholder="Write your thoughts here..."
        class="border border-gray-400 w-[500px] px-4 py-3 text-base rounded-none resize-none focus:outline-none focus:ring-2 focus:ring-blue-500"
      ></textarea>
    </div>

    <div class="max-w-xl mx-auto p-6">
      <label for="images" class="block mb-2 text-base font-medium text-center">
        Upload your images
      </label>
      <input
        id="images"
        name="images"
        type="file"
        accept="image/*"
        multiple
        class="block border w-[500px] px-4 py-2 text-base cursor-pointer focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
    </div>

    <!-- der skal herefter komme en pop-up med tak for at sende en request, du hører tilbage snart bla -->
    <div class="py-sm">
      <Linkbutton href="/steptwo" label="Back" variant="secondary" />
      <Linkbutton href="/" label="Send request" variant="primary" />
    </div>
  </div>
</MainLayout>
