---
const { href = "#", label = "Klikk her", variant = "primary" } = Astro.props;

const baseStyles =
  "inline-block px-4 py-2 font-semibold transition-colors";
const variantStyles = {
  primary:
    "border-1 border-primary-500 text-primary-500 hover:bg-primary-500 hover:text-beige-100 ",
  secondary: "bg-primary-900 text-beige-100 ",
};

const buttonClass = `${baseStyles} ${variantStyles[variant] || variantStyles.primary}`;
---

<a href={href} class={buttonClass}>
  {label}
</a>
