---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import footerLogo from "../assets/images/footerLogo.webp";
---
<section class="pt-lg h-full font-display ">
  <section class="md:grid grid-cols-5 gap-4 px-sm pt-lg">
    <!-- 1. kol i grid -->
    <nav class="col-span-1">
      <ul>
        <li class="pb-2 hover:text-primary-500"><a href="/about">About</a></li>
        <li class="pb-2 hover:text-primary-500"><a href="/contact">Contact</a></li>
        <li class="pb-2 hover:text-primary-500"><a href="/faq">FAQ</a></li>
        <li class="pb-2 hover:text-primary-500"><a href="/faq">Terms and Conditions</a></li>
      </ul>
    </nav>

    <!-- 2. kol i grid -->
    <nav class="col-span-1">
      <ul>
        <li class="pb-2">CVR: 3984978</li>
        <li class="pb-2">Copyright 2025©</li>
        <li class="pb-2 hover:text-primary-500">Smiley report</li>
        <li class="pb-2 hover:text-primary-500">
          <a href="https://www.instagram.com/klaras.table/" target="_blank">Instagram</a>
        </li>
      </ul>
    </nav>

    <!-- 3-4 i grid er komme, lille smart fix -->
    <div class="col-span-2"></div>

    <!-- 5. sign up -->
    <nav class="col-span-1">
      <ul class="space-y-4 border-b">
        <li class="text-left md:text-center">Sign up for our monthly newsletter</li>
        <li>
          <form class="flex w-full justify-between items-center ">
            <input
              type="email"
              class=" text-beige-700 w-full border-0"
              placeholder="Your email"
              required
            />
            <a href="/konto">
              <button
                type="submit"
                class="px-4 py-2 text-beige-700 hover:text-primary-500"
              >
                Submit
              </button>
            </a>
          </form>
        </li>
      </ul>
    </nav>
  </section>

  <!-- kæmpe logo -->
  <section class="text-center mt-sm">
    <Image src={footerLogo} alt="tets" class="pt-xs" />
  </section>
</section>



