---
import "../styles/tailwind.css";
---

<header class="z-50 fixed top-0">
  <button
    id="menuToggle"
    class="fixed top-4 left-4 text-black text-4xl z-50"
    aria-label="Åpne meny"
  >
    &#9776;
  </button>

  <nav
    id="mobileMenu"
    class="hidden fixed inset-0 bg-red-500 text-white flex flex-col items-end justify-end gap-6 text-2xl z-40 pb-60 pr-20"
  >
    <button
      id="closeMenu"
      class="absolute top-4 left-4 text-4xl z-50"
      aria-label="Lukk meny"
    >
      &times;
    </button>

    <a href="/"
      ><p class="font-display">
        Home<p></p>
        <a href="/produkter"><p class="font-display">Book Cake or Event</p></a>
        <a href="/gallery"><p class="font-display">Gallery</p></a>
        <a href="/about"><p class="font-display">About</p></a>
        <a href="/playground"><p class="font-display">Set Your Table</p></a>
        <a href="/recipe"><p class="font-display">Recipe of the month</p></a>
        <a href="/cart"><p class="font-display">Your Cart</p></a>
      </p>

      <script>
        const toggle = document.getElementById("menuToggle");
        const menu = document.getElementById("mobileMenu");
        const close = document.getElementById("closeMenu");

        toggle?.addEventListener("click", () => {
          menu?.classList.remove("hidden");
          toggle.classList.add("hidden"); // Skjul burgerikon
        });

        close?.addEventListener("click", () => {
          menu?.classList.add("hidden");
          toggle.classList.remove("hidden"); // Vis burgerikon igjen
        });
      </script>
    </a>
  </nav>
</header>
