---
const { href = "#", target = "_self" } = Astro.props;
---

<a
  href={href}
  target={target}
  class="underline text-primary-500 border-primary-500 hover:text-primary-500 transition inline-block text-center"
>
  <slot />
</a>
